.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.green{
    background-color: green;
}
.brown{
    background-color: brown;
}
.pink{
    background-color: deeppink;
}
.orange{
    background-color: orange;
}
.yellow{
    background-color: yellow
}