   .centre{
        width: 70%;
       /*margin-left: 30%;*/
       margin: 0 auto;
       margin-top: 5%;
    }
    .centr{
        width: 100px;
        margin: 0 auto;
        /*background-color: red;*/
 
    }
    /*img{
        width: auto;
        margin: 0 auto;
    }*/
.ble{
    background-color: gray;
}
.btn1{
    width: 139px;
    margin: 0 auto;
    /*background-color: red;*/
}
.indx{
    z-index: 9999;
}
.container{
    /*border: 2px solid blue;*/
    /*background-color: blue;*/
}
.mrgn{
    margin-right: 2%;
}
.mrgnleft{
    margin-left: 2%;
}
.nav-menu{
    color: #abeae7; 
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;

    font-size: 100%;

}
.navbaar{
    height: 25px;
    /*vertical-align: middle;*/
    background-color: gray;
    color: #abeae7;
}
.Profile{
    background-color:gray;
    border-radius: 2%;
    height: 10000px; 
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.down{
    margin-top: 2%;
}

button{
    background-color: gray;
    color: black;
    text-decoration: none;


}
span{
    margin-left: 2%;
    font-size: 110%;
    color: black; 

}
p{
    margin-left: 2%;
}
.Dua_design{
    background-color: red;
    font-size: 100%;
    color: wheat;
    border-radius: 10px;
    margin-bottom: 10px;
    border-bottom: 15px solid gray;  
    padding-bottom: 2px;
}

.centre1{
        width: 90%;
       /*margin-left: 30%;*/
       margin: 0 auto;
       margin-top: 5%;
    }
    .commentbox{
        /*padding: 0px;*/
        /*padding-block-end: 2px;
        
    */
    /*padding-top: -2px;*/
    /*padding-bottom: -2px;*/
    width: 90%;
    border-radius: 20px;
    margin: 2px;
    }
    #owner{
        /*width: 100%;*/
        margin-top: 5%;
        color: #abeae7;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }